.hero-unit
  form#message-form.form-horizontal(action="/messages", method="POST")
    fieldset
      legend Create a new Message
      if params.errors
        .control-group
          ul
          for err in params.errors
            li= err

      != partial('form', {message: {}})

      .form-actions
        != contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'})
