.hero-unit
  form#message-form.form-horizontal(action="/messages/" + params.id + "?_method=PUT", method="POST")
    fieldset
      legend Update this Message
      if params.errors
        .control-group
          ul
          for err in params.errors
            li= err

      != partial('form', {message: message})

      .form-actions
        != contentTag('input', 'Save', {type: 'submit', class: 'btn btn-primary'})
        != contentTag('button', 'Remove', {type: 'submit', formaction: '/messages/' + params.id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'})
