.hero-unit
  h2 All Messages
  != linkTo('Create a new Message', addMessagePath, {class: 'btn pull-right'})

div#messages-list
  if messages
    each message in messages
      .row.list-item(id="message-" + message.id)
        .span8
          h3!= linkTo(message.id, messagePath(message.id))
        .span4
          h3
            i.icon-list-alt
            = message.id
