.hero-unit
  h2.id= message.id
  != linkTo('Edit this message', editMessagePath(params.id), {class: 'btn pull-right'})

h2 Message Properties
each property, key in message
  if key !== 'saved'
    .row.list-item
      .span4
        h3= key
      .span8
        h3
          i.icon-list-alt
          span(class=key)= property
