.hero-unit
  form#room-form.form-horizontal(action="/rooms", method="POST")
    fieldset
      legend Create a new Room
      if params.errors
        .control-group
          ul
          for err in params.errors
            li= err

      != partial('form', {room: {}})

      .form-actions
        != contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'})
