.hero-unit
  form#room-form.form-horizontal(action="/rooms/" + params.id + "?_method=PUT", method="POST")
    fieldset
      legend Update this Room
      if params.errors
        .control-group
          ul
          for err in params.errors
            li= err

      != partial('form', {room: room})

      .form-actions
        != contentTag('input', 'Save', {type: 'submit', class: 'btn btn-primary'})
        != contentTag('button', 'Remove', {type: 'submit', formaction: '/rooms/' + params.id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'})
