.control-group
  label(for="subject", class="control-label") subject
  .controls
    != contentTag('input', room.subject, {type:'text', class:'span6', name:'subject'})
.control-group
  label(for="tags", class="control-label") tags
  .controls
    | array
