.hero-unit
  h2 All Rooms
  != linkTo('Create a new Room', addRoomPath, {class: 'btn pull-right'})

div#rooms-list
  if rooms
    each room in rooms
      .row.list-item(id="room-" + room.id)
        .span8
          h3!= linkTo(room.id, roomPath(room.id))
        .span4
          h3
            i.icon-list-alt
            = room.id
