.hero-unit
  h2.id= room.id
  != linkTo('Edit this room', editRoomPath(params.id), {class: 'btn pull-right'})

h2 Room Properties
each property, key in room
  if key !== 'saved'
    .row.list-item
      .span4
        h3= key
      .span8
        h3
          i.icon-list-alt
          span(class=key)= property
